<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/page.css">
	<script  type="text/javascript" src="/static/scripts/jquery-1.6.2.min.js"></script>
	<script  type="text/javascript" src="/static/scripts/continue-story.js"></script>
</head>

	<body>
		<div id="en-tete">
			<h1>Une histoire entre {{page.joueur}} et {{page.proprietaire}}</h1>
			<img src="/static/images/scroll_down.png" id="scroll_down"/>
			<img src="/static/images/scroll_up.png" id="scroll_up"/>
		</div>
		<div id="colonne-milieu">
			<div id="en-tete-milieu-haut">
				
			</div>
			{% if page.premier_recit %}
				{% for recit in page.recits  %}
					{% cycle "theme_1" "theme_2" as piste_theme silent %}
					{% include "story/pages/recit.html" %}
			    {% endfor %}
			{% endif %}
			<div id="en-tete-milieu-bas"></div>
		</div>	
		
	</body>
</html>

