
#en-tete {
	width: 100%;
	height: 40px;
	top: 0;
	z-index: 1000000;

    background-color: #F4F4F4;

    color: #222222;
    font-family: 'Fanwood Text',serif;
    line-height: 1.2;
}
#en-tete > img:hover{
	cursor: pointer;

}


#section:hover{
	cursor: pointer;
}

#home  {
	background-image: url("../images/home.png");
	width: 24px;
	height: 22px;
	float: left;
    margin: 6px;
}
#home:hover {
	cursor: pointer;
}

#login-container {
	float: left;
	font-size: 18px;
	padding: 8px;	
}

.please-login {
	width: 50%;
	padding: 8px;
	float: left;
	font-size: 18px;	
}
#submit {
	/*
	color: #B1B1B1;
	background: #AAA;
	*/
}
#submit:hover {
	cursor: pointer;
	background: #CCC;
    color: #F4F4F4;
    border-color: #F2F2F2;
}

#logout {
	background-image: url("../images/logout.png");
	width: 24px;
	height: 25px;
	position: absolute;
	right: 12px;
	top: 0px;
	float: right;
	margin-top: 6px;
}
#logout:hover {
	cursor: pointer;
}

h1 {
	margin: auto;
	text-align: center;
	padding-top: 0px;
	font-size: 32px;
	width: 50%;
}
input {
	-moz-border-radius: 3px; 
 	-webkit-border-radius: 3px; 
  	border-radius: 3px; 
  	width: 80px;
  	border: 1px solid #CCC;
  	margin-right: 12px;
  	margin-left: 8px;
}
