
.recit {
	//position: relative;
	width: 75%;
	top: 140px;
	margin: auto;
	padding: 20px;
	padding-top: 32px;
	min-height: 180px;
	background-color: #FFF;
	opacity: 0.92;
	
	-moz-border-radius: 6px; 
 	-webkit-border-radius: 6px; 
  	border-radius: 6px; 
  	
  	-moz-box-shadow: 3px 6px 12px #333;  
  	-webkit-box-shadow: 3px 6px 12px #333;  
  	box-shadow: 3px 6px 12px #333; 
  	
  	text-align: justify;
	color: #222;

	
	font-family: 'StMarieThin'; 
	font-size: 1.3em;
	line-height: 1.4;
	
	
}

.description {
	padding-left: 32px;
	padding-right: 32px;
	//padding-bottom: 14px;
	text-align: justify;
	margin-bottom: 10px;
	margin-top: 10px;
	text-indent: 50px;
}

.attente {
	padding-top: 16px;	
}

.publication_date {
	width: 160px;
	margin-left: 12px;
	padding-top: 12px;
	
	font-family: League_Gothic, "Helvetica Neue", arial, helvetica;
	font-size: 16px;
	text-transform: uppercase;
}
.publication_date_theme_1 {
	color: #4EA29B;
}
.publication_date_theme_2 {
	color: #49972B;
}


.karma:hover {
	cursor: pointer;
}

.karma_face {
	float: right;
	margin-right: 8px;
	margin-top: 9px;
	width: 16px;
	height: 16px;
}

.karma_points {
	float: right;
	font-size: 14px;
	margin-top: 6px;
	margin-right: 6px;
}

.karma_points_happy {
	color: #33E;
}
.karma_points_evil {
	color: #D33;
}

.happy {
	background: url("../images/happy.png") no-repeat;	
}
.evil {
	background: url("../images/evil.png") no-repeat;	
}

div.fleche_derouler {
	margin: 0 auto;
	display: block;
	width: 41px;
	height: 20px;
	//padding-bottom: 14px;	
	background: url("../images/fleche_derouler.png") no-repeat;	
}
div.theme_1:hover {
	cursor: pointer;
	background:  url("../images/fleche_derouler_t1.png") no-repeat;
}
div.theme_2:hover {
	cursor: pointer;
	background:  url("../images/fleche_derouler_t2.png")  no-repeat;
}

ul {
	list-style-type: none;
	padding-left: 0px;
	//padding-bottom: 14px;	
	margin-bottom: 10px;
	margin-top: 10px;
}
li {
	padding-left: 32px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 32px;
	
	text-align: justify;
	//text-indent: 50px;
	line-height: 1.4;
	
	-moz-border-radius: 4px; 
 	-webkit-border-radius: 4px; 
  	border-radius: 4px; 
}
li.piste_ouverte:hover {
	cursor: pointer;
	background-color: rgba(70, 70, 70, 0.5);
	color: #FFF;
}

.demander {
	display: none;
	margin-bottom: 40px;
}
.demander-bouton {
	float: right;
	padding-right: 0px;
}

div.piste_texte {
	word-break: break-word;
	text-indent: 50px;
}

textarea {
	width: 100%;
	height: 4.8em;
	margin-top: 12px;
	margin-bottom: 8px;
	font-size: 1em;
	-moz-border-radius: 6px; 
 	-webkit-border-radius: 6px; 
  	border-radius: 6px; 
  	
  	border: 1px dashed #555;
  	background-color: rgba(255, 255, 255, 0);
}
