{% extends "story/base.html" %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}styles/page.css">
{% endblock css %}

{% block javascript %}
<script  type="text/javascript" src="{{ MEDIA_URL }}scripts/continue-story.js"></script>
{% endblock javascript %}


{% block h1 %} 
	{{page.titre}} 
{% endblock h1%}

{% block content %} 
<div id="colonne-milieu">
	<div class="recit">

	{% if page.premier_recit %}
		{% for recit in recits  %}
			{% cycle "theme_1" "theme_2" as piste_theme silent %}
			{% if recit %}
				{% include "story/pages/recit.html" %}
			{% else %}
				{% include "story/pages/attente.html" %}
			{% endif %}
		{% endfor %}
	{% endif %}
	</div>
</div>	
{% endblock content %}
